/* Nathan Rome Crockett 2/7/24
    This is a CSS comment
    This is the only style option for a comment. 
    This is a multi line comment.
    
    The format of a css style is:
    selector{
        property: value;
        property2: value;
    }

    All of the HTML page is in the body section, so when we use the body selector, we are changing things for the whole page.

    We are changing the background color and the text color in this example
*/
body{
    background-color: blanchedalmond;
    color: rgb(5, 15, 20);
}

/* Heading 1, we are going to change the font used for this page title, and the text color. */
h1{
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(46, 133, 85);
}

/* Style the links */
nav{
    height: 60px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

/* Place the footer at the bottom of the page */
footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    text-align: center;
}

/* This is a custom selector - it will only affect an item on the HTML page that has an ID of memeImage
    These settings will help with a future assignment */
#memeImage{
    position: absolute;
    left: 25%;
    top: 25%;
    width: 200px;
}

/* Change the header to be in the center of the page */
header{
    text-align: center;
}

/* Anchor tag stylers - make the hyperlinks look better */
a{
    text-decoration: none;
    color:rgb(189, 82, 12);
}
